extends layout.pug
block content
  - var activePage = 'button'
  main
    section.button-demo
      h2 按鈕 Button
      .demo-content
        .sample-title Primary
        .sample-block
          button.btn.btn-primary.btn-lg
            +icon('heart')
            | Button
          button.btn.btn-primary.btn-md
            +icon('heart')
            | Button
          button.btn.btn-primary.btn-sm
            +icon('heart')
            | Button
      .demo-content
      
        .sample-title Secondary
        .sample-block
          button.btn.btn-secondary.btn-lg
            +icon('heart')
            | Button
          button.btn.btn-secondary.btn-md
            +icon('heart')
            | Button
          button.btn.btn-secondary.btn-sm
            +icon('heart')
            | Button
      .demo-content
        .sample-title Tertiary
        .sample-block
          button.btn.btn-tertiary.btn-lg
            +icon('heart')
            | Button
          button.btn.btn-tertiary.btn-md
            +icon('heart')
            | Button
          button.btn.btn-tertiary.btn-sm
            +icon('heart')
            | Button
      .demo-content
        .sample-title Transparent
        .sample-block
          button.btn.btn-transparent.btn-lg
            +icon('heart')
            | Button
          button.btn.btn-transparent.btn-md
            +icon('heart')
            | Button
          button.btn.btn-transparent.btn-sm
            +icon('heart')
            | Button 