extends layout.pug
- var pageTitle = '顏色'
block content
  - var activePage = 'index'
  main
    // 顏色視覺化展示
    section.color-demo
      h2 顏色變數視覺化
      .color-group
        .color-title Base
        .color-sample-list
          .color-sample(style="background: #ffffff")  White
          .color-sample(style="background: #121212; color: #fff") Black
      .color-group
        .color-title Neutral
        .color-sample-list
          .color-sample(style="background: #d0d0d0") 100
          .color-sample(style="background: #989898") 300
          .color-sample(style="background: #666666; color: #fff") 500
          .color-sample(style="background: #484848; color: #fff") 700
          .color-sample(style="background: #2b2b2b; color: #fff") 900
      .color-group
        .color-title Primary
        .color-sample-list
          .color-sample(style="background: #68c7fa") 300
          .color-sample(style="background: #1eabf8; color: #fff") 500
          .color-sample(style="background: #1579b0; color: #fff") 700
      .color-group
        .color-title Secondary (Orange)
        .color-sample-list
          .color-sample(style="background: #ffd180") 300
          .color-sample(style="background: #ff9800") 500
          .color-sample(style="background: #f57c00; color: #fff") 700
      .color-group
        .color-title Semantic
        .color-sample-list
          .color-sample(style="background: #e96161; color: #fff") Error
          .color-sample(style="background: #60a0ff; color: #fff") Information
          .color-sample(style="background: #64bb67; color: #fff") Success
          .color-sample(style="background: #f5ce6c") Warning 