.carousel
  .carousel-track
    img.carousel-img(src="images/banner/banner1.jpg" alt="Banner 1")
    img.carousel-img(src="images/banner/banner2.jpg" alt="Banner 2")
    img.carousel-img(src="images/banner/banner3.jpg" alt="Banner 3")
  .carousel-indicators
    span(data-index="0" class="active")
    span(data-index="1")
    span(data-index="2") 