mixin icon(name)
  if name == 'color'
    include ../../images/icons/icon-color.svg
  else if name == 'typo'
    // 最新 typo icon SVG
    svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M1.06299 20.2495L3.02083 15.1443M12.9253 20.2495L10.9923 15.1443M3.02083 15.1443L7.03198 4.68506L10.9923 15.1443M3.02083 15.1443H10.9923" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      path(d="M15.4613 10.9086C15.4362 10.8837 16.2017 8.30811 19.1621 8.30811C21.8376 8.30811 22.8419 10.5187 22.8641 11.0468L22.8991 13.5599M22.9879 19.9359L22.9628 18.1354M22.8991 13.5599H18.4368C17.179 13.7819 14.798 14.5576 15.6361 17.6853C16.4742 20.8131 21.3625 19.8108 22.9628 18.1354M22.8991 13.5599L22.9628 18.1354" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  else if name == 'button'
    include ../../images/icons/icon-button.svg
  else if name == 'component'
    // 最新 component icon SVG
    svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0_280_21)")
        path(d="M12.0273 1.98145L3.42529 7.38281V17.2352L12.0273 22.2364L20.9294 17.4852V7.38281L12.0273 1.98145Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        path(d="M12.4272 12.1841L20.6294 7.48291" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        path(d="M12.8271 16.9851L20.3796 12.4341" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      defs
        clipPath(id="clip0_280_21")
          rect(width="24" height="24" fill="white" transform="translate(0 0.265625)")
  else if name == 'layout'
    // 最新 layout icon SVG
    svg(width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg")
      rect(x="4.271" y="4.50317" width="15.6484" height="15.6484" stroke="currentColor" stroke-width="2" stroke-linejoin="round")
      path(d="M5.53271 9.17163H19.0498" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      path(d="M9.97461 10.1252V19.6311" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  else if name == 'other'
    include ../../images/icons/icon-other.svg
  else if name == 'line-logo'
    include ../../images/icons/icon-line-logo.svg
  else if name == 'clock'
    include ../../images/icons/icon-clock.svg
  else if name == 'phone'
    include ../../images/icons/icon-phone.svg
  else if name == 'close'
    include ../../images/icons/icon-close.svg
  else if name == 'dropdown'
    include ../../images/icons/icon-dropdown.svg
  else if name == 'heart'
    // Heart SVG
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="none" stroke="currentColor" stroke-width="2")
  else
    //- 預設 placeholder
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      circle(cx="12" cy="12" r="10" stroke="#ccc" stroke-width="2")
      text(x="12" y="16" text-anchor="middle" font-size="10" fill="#ccc") ? 