.rewardItem-info
  .rewardItem-info__top
    .rewardItem-info__img-wrap
      img.rewardItem-info__img(src="/images/products/excelsior.webp", alt="商品圖片")
    .rewardItem-info__name 科懋 利脂受 買1送1 EXCELSIOR 維持消化機能(21入)益生菌 啤酒酵
  .rewardItem-info__bottom
    .rewardItem-info__point
      span.rewardItem-info__point-num 8
      span.rewardItem-info__point-label 點 